.exhibitions-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    margin-top: 3em;
}

.inside-ex-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    margin-top: 3em;
}

.inside-ex-grid>.card {
 padding: 0.5em;
}

.card {
    border-style: none;
}

.card>a {
    text-decoration: none;
}

.date {
    font-size: 0.7em;
    color: dimgrey;
}

.name{
    font-size: 1em;
    color: black;
}

.author {
    font-size: 0.7em;
    color: dimgrey;
}

h1 {
    margin-top: 1em;
    margin-bottom: 1em;
}
h2 {
    margin-top: 1em;
    margin-bottom: 1em;
}
h3 {
    margin-top: 1em;
    margin-bottom: 1em;
}
h4 {
    margin-top: 1em;
    margin-bottom: 1em;
}
h5 {
    margin-top: 1em;
    margin-bottom: 1em;
}
h6 {
    margin-top: 1em;
    margin-bottom: 1em;
}