.last-news {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}

a {
    text-decoration: none;
    color: black;
}

.card-text {
    color: rgb(166, 166, 166);
}