.shop-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
}

.product {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
}

.product p {
    margin: 0.5em;
}